<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_vIzUmGuN5XezNvhj-tbuGeK3ubnasXM</string>
	<key>GCM_SENDER_ID</key>
	<string>362925763810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.syrianadmin</string>
	<key>PROJECT_ID</key>
	<string>syriancommunity-5239d</string>
	<key>STORAGE_BUCKET</key>
	<string>syriancommunity-5239d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362925763810:ios:acdec5a216b241424a02bb</string>
</dict>
</plist>